node_modules/
out/
.vscode-test/
.vscode/
.env
*.vsix
/releases/
.claude/
.github/
scripts/
temp/
temp_debug/
*.log
[LOG]

# Env Files
.env
.env.*

/temp_scripts/
.optimus/
temp_data/
