node_modules/
out/
.vscode-test/
.vscode/settings.json
.env
*.vsix
/releases/
.claude/
.github/
scripts/
temp/
temp_debug/
*.log
[LOG]

!.github/copilot-instructions.md

# Env Files
.env
.env.*

/temp_scripts/
